@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 97%; /* Lighter Cool Gray */
    --foreground: 240 10% 3.9%;
    --card: 240 10% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 65% 55%; /* Purpleish Blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 250 65% 55%;
    --chart-1: 250 65% 55%;
    --chart-2: 120 73% 75%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 250 65% 55%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 250 65% 55%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 10% 3.9%;
    --sidebar-border: 250 65% 50%;
    --sidebar-ring: 240 4.8% 95.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 250 65% 65%; /* Lighter Purpleish Blue for Dark Mode */
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 250 65% 65%;
    --chart-1: 250 65% 65%;
    --chart-2: 120 73% 75%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
    background-image: linear-gradient(to bottom right, hsl(250 100% 88%), hsl(250 90% 85%));
  }
  .prose h2 {
      @apply text-3xl font-bold mb-4 mt-8;
  }
  .prose h3 {
      @apply text-2xl font-semibold mb-3 mt-6;
  }
  .prose p, .prose ul, .prose ol {
      @apply mb-4;
  }
  .prose li {
      @apply mb-2;
  }
  .prose strong {
    @apply font-bold;
  }
}

@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
